H1 {
	BORDER-RIGHT: #763b22 4px solid; BORDER-TOP: #763b22 1px solid; MARGIN-TOP: 3pt; FONT-WEIGHT: bold; FONT-SIZE: 20pt; PADDING-BOTTOM: 4pt; MARGIN-LEFT: 3pt; BORDER-LEFT: #763b22 1px solid; COLOR: #763b22; PADDING-TOP: 4pt; BORDER-BOTTOM: #763b22 4px solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif; LETTER-SPACING: 3pt; TEXT-ALIGN: center
}
H2 {
	BORDER-RIGHT: #763b22 2px solid; PADDING-RIGHT: 2pt; BORDER-TOP: #763b22 1px solid; PADDING-LEFT: 2pt; FONT-WEIGHT: bold; FONT-SIZE: xx-small; PADDING-BOTTOM: 2pt; BORDER-LEFT: #763b22 1px solid; COLOR: #763b22; PADDING-TOP: 2pt; BORDER-BOTTOM: #763b22 2px solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif; LETTER-SPACING: 5pt; BACKGROUND-COLOR: #dfb59c
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #763b22; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
A.tablink {
	FONT-SIZE: xx-small; COLOR: #763b22; TEXT-DECORATION: none
}
A.tablink:visited {
	FONT-SIZE: xx-small; COLOR: #763b22; TEXT-DECORATION: none
}
A.tablink:hover {
	FONT-SIZE: xx-small; COLOR: #763b22; TEXT-DECORATION: none
}
A.arrow {
	FONT-SIZE: xx-small; COLOR: #763b22; TEXT-DECORATION: none
}
BODY {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #763b22; BACKGROUND-COLOR: #faebd7
}
TABLE {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #763b22; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TH {
	FONT-SIZE: xx-small; COLOR: #763b22; LETTER-SPACING: 2pt; BACKGROUND-COLOR: #dfb59c
}
.TH_info {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: green; FONT-STYLE: italic; LETTER-SPACING: 2pt
}
TD.answer {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: green; FONT-FAMILY: monospace; TEXT-ALIGN: left
}
TD.points {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: red; TEXT-ALIGN: right
}
TABLE.form {
	BORDER-RIGHT: #763b22 1pt solid; PADDING-RIGHT: 5pt; BORDER-TOP: #763b22 1pt solid; PADDING-LEFT: 5pt; FONT-WEIGHT: bold; FONT-SIZE: xx-small; PADDING-BOTTOM: 5pt; BORDER-LEFT: #763b22 1pt solid; COLOR: #763b22; PADDING-TOP: 5pt; BORDER-BOTTOM: #763b22 1pt solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffe4b5
}
TABLE.view {
	BORDER-RIGHT: #763b22 1pt solid; PADDING-RIGHT: 5pt; BORDER-TOP: #763b22 1pt solid; PADDING-LEFT: 5pt; FONT-SIZE: 10pt; PADDING-BOTTOM: 5pt; BORDER-LEFT: #763b22 1pt solid; COLOR: black; PADDING-TOP: 5pt; BORDER-BOTTOM: #763b22 1pt solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #efefef
}
TH.view {
	FONT-SIZE: 11pt; COLOR: #763b22; LETTER-SPACING: 2pt; BACKGROUND-COLOR: #ffe4b5; TEXT-ALIGN: left
}
TABLE.test {
	PADDING-RIGHT: 5pt; PADDING-LEFT: 5pt; FONT-WEIGHT: normal; FONT-SIZE: x-small; PADDING-BOTTOM: 5pt; COLOR: black; PADDING-TOP: 5pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: white
}
TABLE.leftmenu {
	PADDING-RIGHT: 5pt; PADDING-LEFT: 5pt; FONT-WEIGHT: bold; FONT-SIZE: xx-small; PADDING-BOTTOM: 5pt; COLOR: #763b22; PADDING-TOP: 5pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffe4b5
}
.Error {
	BORDER-RIGHT: #ff6666 4px solid; PADDING-RIGHT: 3pt; BORDER-TOP: #ff6666 1px solid; MARGIN-TOP: 3pt; PADDING-LEFT: 3pt; FONT-SIZE: 10pt; PADDING-BOTTOM: 3pt; MARGIN-LEFT: 3pt; BORDER-LEFT: #ff6666 1px solid; WIDTH: 98%; COLOR: #ff0000; PADDING-TOP: 3pt; BORDER-BOTTOM: #ff6666 4px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.Information {
	BORDER-RIGHT: #33cc33 4px solid; PADDING-RIGHT: 3pt; BORDER-TOP: #33cc33 1px solid; MARGIN-TOP: 3pt; PADDING-LEFT: 3pt; FONT-SIZE: 10pt; PADDING-BOTTOM: 3pt; MARGIN-LEFT: 3pt; BORDER-LEFT: #33cc33 1px solid; WIDTH: 98%; COLOR: green; PADDING-TOP: 3pt; BORDER-BOTTOM: #33cc33 4px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: justify
}
.MainInfo {
	BORDER-RIGHT: #763b22 4px solid; BORDER-TOP: #763b22 1px solid; MARGIN-TOP: 3pt; FONT-SIZE: 10pt; PADDING-BOTTOM: 4pt; MARGIN-LEFT: 3pt; BORDER-LEFT: #763b22 1px solid; WIDTH: 98%; COLOR: #763b22; PADDING-TOP: 4pt; BORDER-BOTTOM: #763b22 4px solid; FONT-STYLE: italic; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-ALIGN: center
}
.Question {
	BORDER-RIGHT: #763b22 4px solid; PADDING-RIGHT: 3pt; BORDER-TOP: #763b22 1px solid; MARGIN-TOP: 3pt; PADDING-LEFT: 3pt; FONT-SIZE: 10pt; PADDING-BOTTOM: 3pt; MARGIN-LEFT: 3pt; BORDER-LEFT: #763b22 1px solid; WIDTH: 98%; COLOR: #763b22; PADDING-TOP: 3pt; BORDER-BOTTOM: #763b22 4px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: justify
}
BUTTON {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 2px; FONT-SIZE: 10pt; BORDER-BOTTOM-WIDTH: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #faebd7; BORDER-RIGHT-WIDTH: 2px
}
INPUT {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 2px; FONT-SIZE: 10pt; BORDER-BOTTOM-WIDTH: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #faebd7; BORDER-RIGHT-WIDTH: 2px
}
SELECT {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 2px; FONT-SIZE: 10pt; BORDER-BOTTOM-WIDTH: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #faebd7; BORDER-RIGHT-WIDTH: 2px
}
TEXTAREA {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 2px; FONT-SIZE: 10pt; BORDER-BOTTOM-WIDTH: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #faebd7; BORDER-RIGHT-WIDTH: 2px
}
INPUT.link {
	BORDER-TOP-WIDTH: 3px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 3px; FONT-SIZE: x-small; BORDER-BOTTOM-WIDTH: 3px; PADDING-BOTTOM: 0px; COLOR: #226e48; PADDING-TOP: 0px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffe4b5; BORDER-RIGHT-WIDTH: 3px; TEXT-DECORATION: underline
}
IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 10pt; COLOR: #763b22; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-ALIGN: justify
}
LI {
	FONT-SIZE: 8pt; PADDING-BOTTOM: 3pt; COLOR: #763b22; FONT-STYLE: italic; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-ALIGN: justify
}
