/* common.css */

@font-face{
	font-family: 'CiscolightRegular';
	font-weight: normal;
	font-style: normal;
	src: url("fonts/ciscolig-webfont.eot");
	src: url("fonts/ciscolig-webfont.eot?#iefix") format("embedded-opentype"),
	     url("fonts/ciscolig-webfont.woff") format("woff"),
	     url("fonts/ciscolig-webfont.ttf") format("truetype"),
	     url("fonts/ciscolig-webfont.svg#CiscolightRegular") format("svg");
}

body {
	color: #707070;
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 12px;
}

nav {
	display: block;
}

#breadcrumbs {
	overflow: hidden;	
}

#breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}

#breadcrumbs ul li {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#breadcrumbs ul li {
	display: inline-block;
	height: 27px;
	line-height: 29px;
	padding-left: 12px;
	margin-left: 8px;
	background-color: transparent;
	background-image: url(images/breadcrumb-chevron-e.png);
	background-repeat: no-repeat;
	background-position: left center;
}

[dir="rtl"] #breadcrumbs ul li {
	padding-left: 0;
	padding-right: 12px;
	margin-left: 0;
	margin-right: 8px;
	background-image: url(images/breadcrumb-chevron-w.png);
	background-position: right center;
}

#breadcrumbs ul li:first-child {
	background-image: none;
	padding-left: 0;
}

[dir="rtl"] #breadcrumbs ul li:first-child {
	padding-right: 0;
}

#breadcrumbs a {
	color: #FFFFFF;
	font-weight: bold;
}

h1 {
	color: #911F94;
	font-family: "CiscolightRegular";
	font-size: 22px;
	font-weight: normal;
	margin: 1em 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="button"].ui-button,
.ui-widget-content button.ui-state-default,
.button {
	background: #37A6EA url("images/btn-std-slice.png") center center repeat-x;  
	border: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	color: white;
	display: inline-block;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0px 12px;
	text-shadow: 0 -1px 0 black;
	white-space: nowrap;
	cursor: pointer;
}

button[disabled],
input[type="button"][disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
.button[disabled] {
  opacity: .35;
  filter: Alpha(Opacity=35);
}

/* DataTables */

.dataTables_wrapper {
	border: 1px solid #E2E2E2;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.dataTables_wrapper th,
.dataTables_wrapper td {
	padding: 8px;
}

.dataTables_wrapper th.ui-state-default {
	border: 1px solid #E2E2E2;
	background: #FFFFFF;
	font-weight: bold;
	color: #707070;
}

.dataTables_wrapper tr.odd td {
	background-color: #F2F2F2;
	color: #707070;
}

.dataTables_wrapper tr.even td {
	background-color: #FAFAFA;
	color: #707070;
}

.dataTables_wrapper tr.odd td.sorting_1 {
	background-color: #F2F2F2;
}

.dataTables_wrapper tr.even td.sorting_1 {
	background-color: #FAFAFA;
}

.DataTables_sort_wrapper {
	position: relative;
	padding: 0 16px;
}

.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}

[dir="rtl"] .DataTables_sort_wrapper span {
	right: auto;
	left: 0;
}

.dataTables_wrapper .ui-state-default a,
.dataTables_wrapper .ui-state-default a:link,
.dataTables_wrapper .ui-state-default a:visited {
	color: #1AAAE2;
}

.ui-tabs.ui-widget-content {
	border: none;
}

a[href] {
	color: #1AAAE2;
	cursor: pointer;
	font-weight: normal;
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

hr {
	background-color: #611880;
	background-image: url(images/stripe.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100% 5px;
	border: 0;
	height: 5px;
	margin: 0;
}

#noptapplet, #pterror, .pterror {
	color: #CD0A0A;
	border: 1px solid #CD0A0A;
	background-color: #FEF1EC;
	padding: 5px;
	margin: 1em 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

#noptapplet h1, #pterror h1, .pterror h1 {
	color: #CD0A0A;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

#noptapplet h2, #pterror h2, .pterror h2 {
	color: #CD0A0A;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}

#noptapplet p, #pterror p, .pterror p {
	color: #CD0A0A;
	font-size: 12px;
	margin: 1em 0 0 0;
}

#noptapplet a, #pterror a, .pterror a {
	color: #CD0A0A;
}

.pt-error-close {
	cursor: pointer;
	float: right;
}

[dir="rtl"] .pt-error-close {
	float: left;
}

.pt-error-view-details {
	cursor: pointer;
	font-weight: normal;
}

.pt-error-view-details:hover {
	text-decoration: underline;
}


.sections {
	display: table;
	border-style: none;
	border-spacing: 15px;
	width: 100%;
}

.section-group {
	display: table-row;
}

.section {
	display: table-cell;
	background: #F8F8F8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0 1px 0 #CCC;
	-webkit-box-shadow: 0 1px 0 #CCC;
	-moz-box-shadow: 0 1px 0 #CCC;
	-ms-box-shadow: 0 1px 0 #CCC;
	-o-box-shadow: 0 1px 0 #CCC;
	padding: 15px 15px 10px 15px;
	width: 33%;
}

.section > ul {
	list-style: none;
	margin: 1em 0 0;
	padding: 0;
}

.section > ul:first-child {
	margin: 0;
}

.section > ul > li {
	margin-top: 5px;
}

.section > ul > li:first-child {
	margin-top: 0;
}

#home {
	height: 20px;
	line-height: 20px;
}

.loading {
	background: #FFFFFF url(images/ajax-loader.gif) no-repeat center center;
	height: 32px;
}

.string-data {
	text-align: left;
}

.number-data {
	text-align: center;
}

.boolean-data {
	text-align: center;
}

span.ui-icon {
	display: inline-block;
	vertical-align: top;
}

label.disabled {
	color: #B8B9BD;
}


.status-icon {
	display: inline-block;
	vertical-align: text-bottom;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	overflow: hidden;
}

.status-icon.loading {
	background-color: transparent;
	background-image: url(images/ajax-loader-16.gif);
	background-position: center center;
}

.status-icon.success {
	background-image: url(images/ui-icons_4b9cec_256x240.png);
	background-position: -208px -192px;
}

.status-icon.error {
	background-image: url(images/ui-icons_ff0000_256x240.png);
	background-position: 0 -144px;
}
